<%-include('../cabecalho.ejs')%>
  <header>
    <h3>Adicionar Novo filme</h3>
  </header>
  <div class="content">
    <form id="form-filme"  method="post"
  enctype="multipart/form-data"
  autocomplete="off" action="/filme/add/ok">

      <div class="grid">
        <div>
          <label for="titulo">titulo do filme</label>
          <input id="titulo" name="titulo" type="text" placeholder="Ex: freddy krueger" required>
        </div>
         <div>
          <label for="foto">foto</label>
          <input id="foto" name="foto"
          type="file" >
        </div>
        <div>
          <label for="duracao">Duração</label>
          <input id="duracao" name="duracao" type="text" placeholder="Digite a duracao" required>
        </div>
        <div>
          <label for="genero">genero</label>
          <input id="genero" name="genero" type="text" placeholder="Ex: terror" required>
        </div>
        <div>
          <label for="classificacao">classificação</label>
          <input id="classificacao" name="classificacao" type="number" placeholder="0" min="0" step="0.01" required>
        </div>
      </div>

      <footer>
        <a type="button" class="btn ghost" id="btn-cancelar" href="/filme/lst">Cancelar</a>
        <button type="submit" class="btn primary">Adicionar filme</button>
      </footer>
    </form>
  </div>

  <%-include('../rodape.ejs')%>